.navbar-nav a, .navbar-container .navbar-first-menu a{
    font-size: 0.95rem;
}

.navbar-nav a:hover{
    border-bottom-color:#FFAB00;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

.navbar-nav a:hover, .navbar-container .navbar-first-menu a:hover, .navbar-nav a:focus, .navbar-container .navbar-first-menu a:focus{
    background:#ffffff  !important;
}