<div class="navbar-nav navbar-notifications" id="notificationHeader" *ngIf="show==true">
    <div class="container color-mensaje">
        {{mensaje}}
        <div class="cerrar color-cerrar color-dodger-blue" (click)="cerrarNotificacion()">X</div>
    </div>    
</div>
