<!--Templates para validar los cambios de cada elemento-->
<ng-template #tramiteEnLinea>                                  
    <a class="disponiblidad-tramite color-green pt-0 mt-0"><span class="color-green govco-icon govco-icon-check-cn "></span>
        Disponible en línea</a>                    
</ng-template>
<ng-template #tramitePresencial>
    <a class="disponiblidad-tramite pt-0 mt-0">
        Trámite presencial</a>    
</ng-template>



<ng-template #tramiteGratis>                                  
    <span class="govco-icon govco-icon-peso-col-cp "></span>
    <a class="costo-tramite">Trámite gratuito</a>                
</ng-template>
<ng-template #tramiteCosto>
    <span class="govco-icon govco-icon-peso-col-cp "></span>
    <a class="costo-tramite">Trámite con costo</a>
</ng-template>


<!--HTML-->
<div class="container">
<div class="row">
    <div class="col-md-4">
        
        
        <div class="card govco-card tramites-mas-usados">
            <div class="card-header govco-card-header encabezado-tramites-mas-usados ">              
             Los trámites más usados
             <span class="govco-icon govco-icon-plus icono-encabezado-tramites-mas-usados"> </span>
            </div>
            <div class="card-body pt-0">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">                   
                    <div class="carousel-inner">
                   

                      <div class="carousel-item " *ngFor="let tramite of tramitesMasUsados let i = index"   [ngClass]="{'active' : i == 0}"  >
                          <h2 class="titulo">{{tramite.nombre}}</h2>
                          <p><a class="entidad-tramite ">{{tramite.entidad}}</a>
                          </p>
                          <div *ngIf="tramite.lugarTramite=='online'; then tramiteEnLinea else tramitePresencial"></div>
                      </div>
                      
                    </div>

                    <ol class="carousel-indicators">                                               
                        <li  *ngFor="let tramite of tramitesMasUsados; let i = index" data-target="#carouselExampleIndicators" [ngClass]="{'active' : i == 0}"   [attr.data-slide-to]="i" ></li>                        
                      </ol>

                  </div>



             
            </div>
            
          </div>
    </div>
    <div class="col-md-8">       

        <div class="contenedor-tramite mt-4" *ngFor="let tramite of tramitesMasUsados">
            <p class="titulo-tramite pt-0 mb-0">{{tramite.nombre}}<br>
                <a class="entidad-tramite ">{{tramite.entidad}}</a>
            </p>
            
            <div class="row pt-0">
                <div class="col-md-4">     
                    <div *ngIf="tramite.lugarTramite=='online'; then tramiteEnLinea else tramitePresencial"></div>
                </div>     
                
                <div class="col-md-4">     
                    <div *ngIf="tramite.costoTramite=='gratis'; then tramiteGratis else tramiteCosto"></div>
                </div>   

                
                <div class="col-md-4">
                    <a class="enlace-tramite" href="{{tramite.enlaceTramite}}">Ver todo el trámite</a>
                </div>
        </div>
        <hr>
        </div>


        <div class="otros-tramites">
            <a>Conocer otros trámites <span class="govco-icon govco-icon-right-arrow "></span>
            </a>

        </div>

    </div>
</div>
</div>