.titulo-tramite{
    text-align: left;
    font: normal normal bold 16px/20px Montserrat;
    letter-spacing: 0px;
    color: #0B457F;
}
.entidad-tramite{
    text-align: left;
    font: normal normal normal 14px/50px Work Sans;
    letter-spacing: 0px;
    color: #0B457F; 
    line-height: 0;
}
.govco-icon{
    font-size: 16px;
}
.disponiblidad-tramite{    
    text-align: left;
    font: normal normal normal 14px/50px Work Sans;
    letter-spacing: 0px;    
    line-height: 0;
}
.costo-tramite{    
    
    text-align: left;
    font: normal normal normal 14px/50px Work Sans;
    letter-spacing: 0px;
    color: #0B457F !important;
    line-height: 0; 
}
.enlace-tramite{    
    text-align: left;
    font: normal normal normal 14px/50px Work Sans;
    letter-spacing: 0px;
    color: #004884 !important; 
    text-decoration: underline;
    line-height: 0;
}

.otros-tramites{
    text-align: right;
}
.otros-tramites a{
    text-align: center;
font: normal normal medium 16px/9px Montserrat;
letter-spacing: 0px;
color: #3772FF;
opacity: 1; 

}
.otros-tramites span{
    font-size: 32px;
    color: #3772FF;
    top: 6px;
    position: relative;
    line-height: 0;
}


.carousel-indicators li{    
    background-color: #BABABA;
    position: relative;
    bottom: -90px;
    border-radius: 50%;
    height: 20px;
    width: 20px;    
}
.carousel-indicators li.active{    
    background-color: #3772FF;    
}


.tramites-mas-usados{
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #3772FF;
    border-radius: 10px;
}

.tramites-mas-usados .titulo{
    text-align: left;
    font: normal normal 300 29px/40px Work Sans;
    letter-spacing: 0px;
    color: #004884;
    opacity: 1;
    line-height: 1.2!important;
}

.tramites-mas-usados .card-body{
    padding-bottom: 90px;
}

.encabezado-tramites-mas-usados{
    text-align: left;
    font: normal normal normal 14px/50px Montserrat;
    letter-spacing: 0px;
    color: #3772FF;
    opacity: 1;
    justify-content: left;
}

.icono-encabezado-tramites-mas-usados{
    color: #3772FF;
    font-size: 46px;
    
}