

<section class="breadcrumb_area mt-5" style="   background-image: url('assets/images/home/fondo-slide.png');">
    <div class="overlay-cover"></div>

    <div class="container">

      <div class="breadcrumb_content text-center">
        <h1 class="color-white titulo">¡Te damos la bienvenida!</h1>
        <form>
            <div class="form-group position-relative">              
              <input type="text" class="form-control input-busqueda" placeholder="Encuentra aquí lo que buscas" required>
              <span class="govco-icon govco-icon-search-cn icono-busqueda"></span>

            </div>
          </form>

        <p class="color-white subtitulo">Toda la oferta del Estado colombiano a tu alcance.</p>                
      </div>
    </div>
  </section>
