.breadcrumb_area {
    background-image: -moz-linear-gradient(180deg,#1d2848 0,#a485fd 100%);
    background-image: -webkit-linear-gradient(180deg,#1d2848 0,#a485fd 100%);
    background-image: -ms-linear-gradient(180deg,#1d2848 0,#a485fd 100%);
    position: relative;
    z-index: 1;
    padding: 150px 0 125px;
    overflow: hidden; 
    background-position:  center center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.titulo{
 font-size: 61px;
 font: normal 300 61px/122px Montserrat;
}

.subtitulo{
    font-size: 30px;
    font: normal normal normal 30px/62px Work Sans;
}

.input-busqueda{
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 24px;
    height: 52px;
    padding-left: 26px; 
}
.input-busqueda::placeholder {
    font: normal normal 300 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #0B457F;
    opacity: 0.64;
}

.icono-busqueda{
    font-size: 3.4em;
    position: absolute;
    top: -13px;    
    right: 0;
    margin-right: 2px;
}