<div class="container">
    <h2>Otros temas de tu interés</h2>
    <div class="row">           


        <div class="col-md-6 pb-4" *ngFor="let tema of temasInteres">
            <div class="card govco-card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3">
                        <img src="{{tema.imagen}}">
                        </div>
                        <div class="col-md-9">
                            <h3>{{tema.nombre}}</h3>
                            <p>{{tema.breveDescripcion}}</p>
                            <div class="call-to-action">
                                <a href="{{tema.enlace}}">{{tema.textoEnlace}} <span class="govco-icon govco-icon-right-arrow "></span></a>
                            </div>

                        </div>
                  </div>
                </div>
              </div>
        </div>




    </div>
</div>