.card{
    padding-top: 22px;
    padding-bottom: 22px;    
    
}
.card h3{
    text-align: left;
    font: normal normal 300 33px/39px Work Sans;
    letter-spacing: 0px;
    color: #0B457F;
}

.card p{
    text-align: left;
    font: normal normal normal 16px/19px Work Sans;
    letter-spacing: 0px;
    color: #0B457F;
    opacity: 1;
}
.card .call-to-action{
    text-align: right;
}
.card .call-to-action a{
    text-align: center;
    font: normal normal medium 16px/9px Montserrat;
    letter-spacing: 0px;
    color: #3772FF;
    opacity: 1;

}
.card .call-to-action span{
    text-align: center;
    font: normal normal medium 16px/9px Montserrat;
    letter-spacing: 0px;
    color: #3772FF;
    opacity: 1;
    position: relative;
    top: 6px;

}

.card a{
    text-decoration:none !important;
}