<div class="container">
    <div class="card govco-card">
        <div class="card-body">
            <app-gov-tramites-mas-usados></app-gov-tramites-mas-usados>
        </div>
      </div>    
</div>